* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

/* --------------------------------------- */

.d-flex{
  display: flex;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}


/* ------------------------------------------header------------------------------------------*/

header{
  position: sticky;
  top: 0;
  background-color: white;
  height: 80px;
}


.capacity{
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
}

.capacity img{
  padding-right: 40px;
}

.capacity nav{
  align-items: center;
}

.capacity nav ul li{
  font-weight: 500;
  padding-right: 40px;
  display: inline-block;
}

.capacity nav ul li a{
  color: black;
}

.right span a{
  background-color:#0061ff;
  color: white;
  justify-content: center;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 15px;
  border: none;
}

.right a:hover{
  cursor: pointer;
  opacity: 0.5;
}

/* ------------------------------------jumbotron------------------------------------- */

.jumbotron{
  justify-content: center;
  padding-top: 100px ;
  background-color: #b4d0e7;
  height: 750px;
}

.jumbotron .container h1{
  font-size: 4.7rem;
}

.don{
  padding-top: 50px;
}

.don p{
  font-weight: 500;
  width: 30%;
}

.don img{
  width: 70%;
}

.text p{
  width: 100%;
  padding-bottom: 35px;
}

.inizia{
  padding-bottom: 35px;
}

.inizia a{
  background-color: #0061ff;
  padding: 10px;
  color: white;
}

.annulla{
  padding-bottom: 70px;
}

.annulla a{
  color: black;
}

.annulla a:hover{
  background-color: #0061ff;
  padding: 10px;
  color: white;
}

.freccia{
  font-size: 3rem;
}
































/*----------------------------------------- footer -------------------------------------------- */

