:root{
  --main-font: 'Open Sans', sans-serif;
  --white:white;
  --white-chiaro:#d0d0d3;
  --white-sporco:#d9d9dc;
  --black:black;
  --azzurro:#0061ff;
  --azzurro-chiaro:#b4d0e7;
  --grigio:#757575;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--main-font)
}

/* --------------------------------------- */

.d-flex{
  display: flex;
}

.inline-block{
  display: flex;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

/* id  */
#acquista{
  font-size: 0.9rem;
}

#acquista a{
  text-decoration: underline;
}


/* ------------------------------------------header------------------------------------------*/


.capacity{
  position: sticky;
  height: 80px;
  top: 0;
  background-color:var(--white);
}


.lead{
  align-items: center;
  height: 100%;
  padding: 20px;
  justify-content: space-between;
}

.logo{
  flex-shrink: 40px;
}

.lead img{
  padding-right: 40px;
}

.lead nav{
  align-items: center;
}

.lead nav ul li{
  font-weight: 500;
  padding-right: 40px;
  display: inline-block;
}

.lead nav ul li a{
  color:var(--black);
}

.right span a{
  background-color:var(--azzurro);
  color:var(--white);
  justify-content: center;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 15px;
  border: none;
}

.right a:hover{
  cursor: pointer;
  opacity: 0.5;
}

/* ------------------------------------jumbotron------------------------------------- */

.jumbotron{
  justify-content: center;
  padding-top: 100px ;
  background-color:var(--azzurro-chiaro);
  height: 750px;
}

.jumbotron .container h1{
  font-size: 4.7rem;
}

.don{
  padding-top: 50px;
}

.don p{
  font-weight: 500;
  width: 30%;
}

.don img{
  width: 70%;
}

.text p{
  width: 100%;
  padding-bottom: 35px;
}

.inizia{
  padding-bottom: 35px;
}

.inizia a{
  background-color: var(--azzurro);
  padding: 10px;
  color:var(--white);
}

.annulla{
  padding-bottom: 70px;
}

.annulla a{
  color:var(--black);
}

.annulla a:hover{
  background-color:var(--azzurro);
  padding: 10px;
  color: var(--white);
}

.freccia{
  font-size: 3rem;
}



/*---------------- main-----------------  */

.business{
  margin-top: 100px;
}

.md-container{
  max-width: 100%;
  margin: 0 auto;
}
.business .md-container h2{
  font-size: 2rem;
}

.business .md-container .col-sm{
  display: inline-block;
  padding-right: 80px;
  padding-bottom: 60px;
  font-weight: 600;
}

.business .md-container .col-ms{
  display: inline-block;
  padding-right: 50px;
  font-weight: 600;
}

.business .md-container .row .col-sm i {
  color: var(--azzurro);
  font-size: 1.2rem;
  align-items: center;
}

.business .md-container .row .col-ms i{
  color: var(--white-chiaro);
  font-size: 1.2rem;
  align-items: center;
}

/* fine piano business  */


/* tabelle  */


.tabelle{
  justify-content: space-between;
}

.su-tabella{
  text-align: center;
  display:inline-block;
  padding: 5px;
  border-bottom: 2px solid  var(--white-sporco);

}

.su-tabella p{
  display: inline-block;
}

.colonna{
  flex-direction: column;
  width: 250px;
  border: 2px solid var(--white-sporco);
}


.text-table{
  flex-direction: column;
  margin: 50px 30px;
  font-weight: 600;
}


.text-table h3{
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.text-table .soldi li{
  line-height: 30px;
  padding-bottom: 30px;
  font-size: 14px;
}

.text-table .soldi li p{
  font-weight: 600;
}

.text-table .price li span{
  color:var(--grigio);
  font-weight: 600;
}

.text-table .bundle div{
  font-size: 14px;
  padding: 10px 0;
}

.text-table .bundle div i{
  padding-top: 3px;
}

.lsd{
  justify-content: center;
  padding: 12px;
  margin-top: 50px;
  margin-bottom: 35px;
  background-color:var(--azzurro);
}

.lsd a{
  color:var(--white);
  font-size: 14px;
}


























/*----------------------------------------- footer -------------------------------------------- */



